@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  border-radius: 16px;
  transition: 0.2s;
  transform: perspective(1000px);
  filter: brightness(1);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 0px solid rgba(255, 255, 255, 0.47);
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(100px);
}

footer p {
  font-family: 'Unbounded', sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-size: 10px;
  margin: 0;
}

.card-text {
  font-family: 'Unbounded', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: -50px;
  left: 10px;
  color: white;
  font-size: 50px;
}

.card.large {
  width: 620px;
  height: 250px;
}

.card.medium {
  width: 350px;
  height: 350px;
}

.card.small {
  width: 250px;
  height: 350px;
}

.card-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

/* вот это я спиздил: */
h1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*defines background and clips extra content when it pulsuates.*/
.bg-wrapper {
  position: relative;
  overflow: clip;
  width: 100%;
  height: 100vh;
}

/*defines background dots and pulsating animation*/
.bg-wrapper::before {
  z-index: -10;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //background-color: #000;
  background-image: radial-gradient(#69696959 1px, transparent 1px);
  /*background size defines gap between each dot */
  background-size: 34px 34px;
  opacity: 0.8;
  animation: pulsate 20s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

/*defines rotating blurry blob*/
.blob {
  background-color: aliceblue;
  height: 400px;
  width: 400px;
  aspect-ratio: 1;
  position: absolute;

  border-radius: 50px;
  filter: blur(100px);
  z-index: -1;
  overflow-x: hidden;
  animation: rotate 15s linear infinite;
}

.blob1 {
  background: linear-gradient(200deg, #113 50%, #752bec 100%);
  position: absolute;
}

.blob2 {
  width: 440px;
  height: 440px;
  border-radius: 18rem;
  background: radial-gradient(
      ellipse at 50% 50%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(ellipse at 70% 60%, #c3e060 0%, rgba(195, 224, 96, 0) 90%),
    radial-gradient(ellipse at 30% 30%, #c3e060 0%, rgba(195, 224, 96, 0) 60%),
    radial-gradient(ellipse at bottom left, #00a3cb 0%, rgba(0, 163, 203, 0) 70%),
    linear-gradient(135deg, rgba(18, 46, 119, 0) 0%, rgba(18, 46, 119, 0) 75%, #122e77 100%),
    linear-gradient(to right, #625793 0%, #d55d64 35%, #e49129 65%, #c0671c 100%);
  background-blend-mode: overlay, luminosity, color-dodge, saturation, screen, color;
  filter: blur(50px);
  position: absolute;
}

.blob3 {
  width: 440px;
  height: 440px;
  border-radius: 18rem;
  background: linear-gradient(180deg, #341d65 0%, rgba(52, 29, 101, 0) 100%),
    radial-gradient(
      94.51% 124.88% at 94.32% 94.43%,
      rgba(65, 244, 255, 0.78) 0%,
      rgba(128, 217, 255, 0.78) 46.52%,
      rgba(65, 198, 255, 0) 100%
    ),
    linear-gradient(41deg, #fffce6 4.33%, rgba(255, 252, 230, 0) 73.7%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(50px);
  position: absolute;
}

.blob4 {
  width: 440px;
  height: 440px;
  border-radius: 15rem;
  background: radial-gradient(
      77.73% 77.73% at 98.52% 96.25%,
      #f98bda 0%,
      rgba(128, 76, 239, 0.29) 50.52%,
      rgba(91, 216, 216, 0) 100%
    ),
    radial-gradient(
      141.73% 105.23% at 50% -7.16%,
      #e1f8ff 0%,
      rgba(160, 198, 255, 0) 50.73%,
      rgba(162, 147, 255, 0) 100%
    ),
    radial-gradient(
      112.27% 48.54% at 1.59% 50%,
      rgba(255, 130, 227, 0.5) 0%,
      rgba(255, 123, 234, 0.095) 53.91%,
      rgba(254, 216, 255, 0) 100%
    ),
    linear-gradient(153.07deg, #8177f3 6.37%, rgba(255, 230, 166, 0) 83.82%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(50px);
  position: absolute;
}

.blob5 {
  width: 440px;
  height: 440px;
  border-radius: 15rem;
  background: radial-gradient(
      63.62% 69.52% at 100% 0%,
      rgba(247, 214, 98, 0.8) 0%,
      rgba(247, 214, 98, 0.168) 52.08%,
      rgba(247, 214, 98, 0) 100%
    ),
    linear-gradient(
      208.42deg,
      #f0422a 7.46%,
      rgba(240, 88, 42, 0.18) 42.58%,
      rgba(240, 101, 42, 0) 64.13%
    ),
    radial-gradient(
      114.51% 122.83% at 0% -15.36%,
      #e74f6a 0%,
      rgba(231, 79, 106, 0.22) 66.72%,
      rgba(231, 79, 106, 0) 100%
    ),
    linear-gradient(
      333.95deg,
      rgba(83, 208, 236, 0.85) -7.76%,
      rgba(83, 208, 236, 0.204) 19.67%,
      rgba(138, 137, 190, 0) 35.42%
    ),
    radial-gradient(109.15% 148.57% at 4.46% 98.44%, #1b3180 0%, rgba(27, 49, 128, 0) 100%),
    linear-gradient(141.57deg, #4eadeb 19.08%, rgba(78, 173, 235, 0) 98.72%);
  background-blend-mode: normal, normal, normal, normal, multiply, normal;
  filter: blur(50px);
  position: absolute;
}

.blob6 {
  width: 440px;
  height: 440px;
  border-radius: 18rem;
  background: linear-gradient(180deg, #ef516d 0%, rgba(239, 81, 109, 0) 100%),
    radial-gradient(
      94.51% 124.88% at 94.32% 94.43%,
      rgba(65, 244, 255, 0.78) 0%,
      rgba(131, 218, 255, 0.6552) 32.29%,
      rgba(99, 175, 240, 0.3978) 64.06%,
      rgba(43, 90, 211, 0) 100%
    ),
    linear-gradient(313.04deg, #341d65 0.93%, #604aea 125.68%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(50px);
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* add more blurry blobs at different positions to get unique animated gradient background */
